@model List<CRUDCORE.Models.Trabajadore>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="card">
    <div class="card-header">
        <h5>Listado de trabajadores</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Trabajador_Detalle" asp-controller="Home" asp-route-idTrabajador="0">Nuevo Registro</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Tipo Documento</th>
                <th>Nro Documento</th>
                <th>Nombres</th>
                <th>Sexo</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.TipoDocumento</td>
                        <td>@item.NumeroDocumento</td>
                        <td>@item.Nombres</td>
                        <td>@item.Sexo</td>
                        <td>@item.oDepartamento.NombreDepartamento</td>
                        <td>@item.oProvincium.NombreProvincia</td>
                        <td>@item.oDistrito.NombreDistrito</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Trabajador_Detalle" asp-controller="Home" asp-route-idTrabajador="@item.Id">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-idTrabajador="@item.Id">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
